<form class="filter-form" {{action 'customSearch' type payload on='submit'}}>
  {{#each-in visibleFilterOptions as |key value|}}
    {{#if value.componentTemplate}}
      {{component value.componentTemplate
         filter=filter
         options=value
         key=key}}
    {{else}}
        {{ember-filter-form-element
          filter=filter
          options=value
          key=key}}
    {{/if}}
  {{/each-in}}
  <div>
    {{#if hasMoreElements}}
      {{#bs-dropdown}}
        {{#bs-dropdown-toggle}}
          <i class="icon-ellipsis"></i>
        {{/bs-dropdown-toggle}}
        {{#bs-dropdown-menu}}
          {{#each-in nonVisibleOptions as |key value|}}
            <li>
              <a href='#' {{action "showField" key}}> {{value.label}} </a>
            </li>
          {{/each-in}}
        {{/bs-dropdown-menu}}
      {{/bs-dropdown}}
    {{/if}}
  </div>
  <div class="filter-footer">
    <button class="btn btn-default btn-sm" type="submit">{{t 'search'}}</button>
  </div>
</form>
